# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/src/HexRaysCodeXplorer/x64
/src/.vs
/src/*.db
/src/*.opendb

# CMake
build/
